<mat-card class="example-card" class="card mat-elevation-z24">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon style="font-size: 50px;">{{avatar}}</mat-icon>
        </div>
        <div style="display: flex;
        flex-direction: column;
        align-items: flex-end;">
            <mat-card-title>{{value}}</mat-card-title>
            <mat-card-subtitle>{{title}}</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
</mat-card>